/* core.admin.css */
/* Shortcode selector */
.sc_refresh {
	margin-right: 10px;
	margin-left: auto;
}
/* TGMA */
.tgmpa_line_template {
	margin: 0.5em 0 0 0.5em;
}
.tgmpa_version {
	float: left;
	padding: 0em 0 0.5em 1.5em;
}
.tgmpa_column_version {
	text-align: left;
	float: left;
}
/* Internal Colorpicker "More Colors" button */
.iColorPicker_moreColors {
	margin-right:2px;
	margin-left: auto;
}
/* Reviews block */
.reviews_block .reviews_item { 
	padding-left:30px;
	padding-right: auto;
}
.reviews_block .reviews_value {
	left: 0;
	right: auto;
	text-align:left;
}
.reviews_block .reviews_criteria {
	padding: 4px 0 0 10px;
}
.reviews_block .reviews_max_level_100 .reviews_criteria {
	padding-right:10px;
	padding-left: auto;
}
.reviews_block .reviews_stars_wrap {
	margin-right:250px;
	margin-left: auto;
}
.reviews_block .reviews_max_level_10 .reviews_stars_wrap {
	margin-right:200px;
	margin-left: auto;	
}
.reviews_block .reviews_max_level_100 .reviews_stars_wrap {
	margin-right:0;
	margin-left: auto;
}
.reviews_block .reviews_slider {
	right: 0;
	left: auto;
	-webkit-box-shadow: -1px 0 1px 1px;
	   -moz-box-shadow: -1px 0 1px 1px;
	        box-shadow: -1px 0 1px 1px;
}
.reviews_block .reviews_slider:before {
	margin: -3px 1px 0 0;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
			transform: rotate(45deg);
}
/* Profiler */
.cloe_brooks_profiler {
	margin-right:160px;
	margin-left: auto;
}
@media (max-width: 959px) {
	.cloe_brooks_profiler {
		margin-right:36px;
		margin-left: auto;
	}
}
@media (max-width: 781px) {
	.cloe_brooks_profiler {
		margin-right:0;
		margin-left: auto;
	}
}
/* core.customizer.css */
.to_demo_wrap .to_demo_pin {
	left: 6px;
	right: auto;
}
.to_demo_columns2 {
	margin-left:3%;
	margin-right: auto;
}
.to_demo_columns3 {
	margin-left:3%;
	margin-right: auto;
}
.cloe_brooks_options.to_demo_fixed > .cloe_brooks_options_field_info {
	left:0;
	right: auto;
}
.to_demo_fixed .to_demo_columns2, .to_demo_fixed .to_demo_columns3 {
	margin-left:0;
	margin-right: auto;
}
/* front.customizer.css */
/* Theme Customizer */
/* Shadow and loading */
.custom_options_shadow {
	right: 0;
	left: auto;
}
.custom_options_shadow:before {
	right:50%;
	left: auto;
	margin: -1.5em -1.5em 0 0;
}
/* Custom options */
body.custom_options_opened .custom_options {
	right: 0;
	left: auto;
}
.custom_options {
	right: -260px;
	left: auto;
}
.custom_options #co_toggle {
	left: -2.8125em;
	right: auto;
}
.custom_options .co_header .co_reset {
	margin-right:1em;
	margin-left: auto;
}
.custom_options .co_header .co_reset:before {
	margin-left: 5px;
	margin-right: auto;
}
.custom_options .co_image_check a:after { 
	margin: -3px -3px 0 0;
}
/*--- switch ---*/
.custom_options .co_switch_box .switcher{ 
	right: 0;
	left: auto;
} 
/*--- horizontal ---*/
.custom_options .co_switch_box.co_switch_horizontal a{ 
	float: right; 
}
/*--- vertical ---*/
.custom_options .co_switch_box.co_switch_vertical a{ 
	text-align:right; 
	padding: 0 30px 0 10px; 
}
/*--- color pic ---*/
.custom_options .iColorPicker span { 
	right: 50%;
	left: auto;   
}
.custom_options .iColorPicker.current span { 
	margin: 0 -50px 0 0; 
}
.custom_options .iColorPicker.current:before { 
	right: 50%; 
	left: auto;
	margin: 0 -3px 0 0;  
}
.iColorPickerTable .iColorPicker_moreColors { 
	margin-right: 0.5em; 
	margin-left: auto;
}

/* core.importer.css */
.trx_importer_section {
	float:right;
}
.trx_exporter_section {
	float:left;
	margin: 2em 0 0 2em;
}
@media (max-width: 781px) {
	.trx_importer_section,
	.trx_exporter_section {
		margin-right:0;
		margin-left: auto;
	}
}
#trx_importer_progress.style_1 .import_progress_status {
	text-align:left;
}

/* core.options.css */
.cloe_brooks_options {
	margin-right:0px;
	margin-left: auto;
}
/* Theme options header */
.cloe_brooks_options_logo {
	float:right;
	margin-left:12px;
	margin-right: auto;
}
#cloe_brooks_options_logo.cloe_brooks_options_logo h2 {
	float:right;
}
.cloe_brooks_options_logo span {
	float:right;
}
.cloe_brooks_options_button_export,
.cloe_brooks_options_button_import,
.cloe_brooks_options_button_save,
.cloe_brooks_options_button_reset {
	float:left;
}
.cloe_brooks_options_button_save {
	margin-right:12px;
	margin-left: auto;
}
.cloe_brooks_options_override_title:after  {
	margin-right:0.5em;
	margin-left: auto;
}
.cloe_brooks_options_title .cloe_brooks_options_override_menu {
	right:181px;
	left: auto;
}
.cloe_brooks_options_title .cloe_brooks_options_override_menu a.selected:before {
	right: 0.6em;
	left: auto;
}
/* Theme options header fixed */
.cloe_brooks_options_header.cloe_brooks_options_header_fixed {
	right: 0;
	margin: 0 180px 0 0;
}
.folded .cloe_brooks_options_header.cloe_brooks_options_header_fixed {
	margin: 0 56px 0 0;
}
.cloe_brooks_options_header.cloe_brooks_options_header_fixed .cloe_brooks_options_button_import span,
.cloe_brooks_options_header.cloe_brooks_options_header_fixed .cloe_brooks_options_button_export span,
.cloe_brooks_options_header.cloe_brooks_options_header_fixed .cloe_brooks_options_button_reset span,
.cloe_brooks_options_header.cloe_brooks_options_header_fixed .cloe_brooks_options_button_save span {
	float: right;
}
/* Partitions */
.cloe_brooks_options_body .cloe_brooks_options_partition > ul.ui-tabs-nav {
	float:right;
}
.cloe_brooks_options_body .cloe_brooks_options_partition > ul.ui-tabs-nav > li > a {
	padding-right:12px;
	padding-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_partition > ul.ui-tabs-nav > li > a > span {
	margin-left:12px;
	margin-right:-4px;
	border-left:1px solid #16181c;
	text-align:right;
}
form#addtag .cloe_brooks_options_body .cloe_brooks_options_partition > ul.ui-tabs-nav > li {
	float:right;
	margin-left:1px;
	margin-right: auto;
}
form#addtag .cloe_brooks_options_body .cloe_brooks_options_partition > ul.ui-tabs-nav > li > a {
	padding-left:6px;
	padding-right: auto;
}
/* Tabs */
.cloe_brooks_options_body .cloe_brooks_options_tab > ul.ui-tabs-nav > li {
	float:right;
}
.cloe_brooks_options_body .cloe_brooks_options_tab > ul.ui-tabs-nav > li > a > span {
	margin:0 0 0 4px;
	text-align:right;
}
/* Accordion & toggle */
.cloe_brooks_options_body .cloe_brooks_options_toggle .cloe_brooks_options_toggle_header .cloe_brooks_options_toggle_header_icon,
.cloe_brooks_options_body .cloe_brooks_options_accordion .cloe_brooks_options_accordion_header .cloe_brooks_options_accordion_header_icon {
	margin:0 0 0 4px;
	text-align:right;
}
.cloe_brooks_options_body .cloe_brooks_options_toggle .cloe_brooks_options_toggle_header .cloe_brooks_options_toggle_header_marker,
.cloe_brooks_options_body .cloe_brooks_options_accordion .cloe_brooks_options_accordion_header .cloe_brooks_options_accordion_header_marker {
	left:12px;
	right: auto;
}
/* Group (fieldset) */
.cloe_brooks_options_body .cloe_brooks_options_group legend {
	margin-right:20px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_group legend span[class*="iconadmin-"] {
	margin:0 0 0 2px;
}
/* Standard fields */
.cloe_brooks_options_body .cloe_brooks_options_field > label {
	float:right;
	margin-left:30px;
	margin-right: auto;
	text-align:right;
}
.cloe_brooks_options_body .cloe_brooks_options_field .cloe_brooks_options_desc {
	margin-right:226px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_columns .cloe_brooks_options_desc {
	margin-right:0;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_cloneable_item {
	padding-right:40px;
	padding-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_clone_button_del {
	right:0;
	left: auto;
}
/* info=true */
.cloe_brooks_options .cloe_brooks_options_field .cloe_brooks_options_field_label_info{
	margin-right: 0.3em;
	margin-left: auto;
}
/* type="info" */
.cloe_brooks_options .cloe_brooks_options_field_info label {
	text-align:right;
}
.cloe_brooks_options .cloe_brooks_options_field_info .cloe_brooks_options_desc {
	margin-right:0;
	margin-left: auto;
}
/* Combined fields */
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_arrows,
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_field_after,
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_field_before {
	right:1px;
	left: auto;
	border-left:1px solid #d0d0d0;
	border-radius:6px 6px 0 0;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_arrows,
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_field_after {
	right:auto;
	left:1px;
	border-left:none;
	border-right:1px solid #d0d0d0;
	border-radius:0 0 3px 3px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_arrows span {
	right:0;
	left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content.cloe_brooks_options_button_after input {
	padding-left:104px !important;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_input_spinner,
.cloe_brooks_options_body .cloe_brooks_options_field_content.cloe_brooks_options_button_after_small input {
	padding-left:34px !important;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content.cloe_brooks_options_button_before input {
	padding-right:104px !important;
	padding-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content.cloe_brooks_options_button_before_small input {
	padding-right:34px !important;
	padding-left: auto;
}
/* type="tags" */
.cloe_brooks_options_body .cloe_brooks_options_field_tags .cloe_brooks_options_field_content span {
	padding-right:10px;
	padding-left:20px;
	margin:0 0 3px 3px;
}	
.cloe_brooks_options_body .cloe_brooks_options_field_tags .cloe_brooks_options_field_content span:before {
	left:0;
	right: auto;
}
/* type="checkbox" & type="radio" */
.cloe_brooks_options_body .cloe_brooks_options_field_radio .cloe_brooks_options_field_content label,
.cloe_brooks_options_body .cloe_brooks_options_field_checkbox .cloe_brooks_options_field_content label {
	text-align:right;
}
.cloe_brooks_options_body .cloe_brooks_options_field_radio .cloe_brooks_options_field_content label {
	margin-left:20px;
	margin-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_radio .cloe_brooks_options_field_content .cloe_brooks_options_input_radio_image,
.cloe_brooks_options_body .cloe_brooks_options_field_checkbox .cloe_brooks_options_field_content .cloe_brooks_options_input_checkbox_image {
	margin-left:10px;
	margin-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_radio .cloe_brooks_options_field_content label span:before,
.cloe_brooks_options_body .cloe_brooks_options_field_checkbox .cloe_brooks_options_field_content label span:before {
	margin:0 1px 0 0;
}
/* type="switch" */
.cloe_brooks_options_body .cloe_brooks_options_field_switch .cloe_brooks_options_switch.cloe_brooks_options_state_off .cloe_brooks_options_switch_inner {
	margin-right:-33px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_switch.cloe_brooks_options_size_medium .cloe_brooks_options_switch.cloe_brooks_options_state_off .cloe_brooks_options_switch_inner {
	margin-right:-63px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_switch.cloe_brooks_options_size_big .cloe_brooks_options_switch.cloe_brooks_options_state_off .cloe_brooks_options_switch_inner {
	margin-right:-93px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_switch .cloe_brooks_options_switch_inner:before {
	right:50%;
	left: auto;
	margin-right:-8px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_switch .cloe_brooks_options_switch_inner span {
	padding:3px 3px 3px 14px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_switch .cloe_brooks_options_switch_inner span.cloe_brooks_options_switch_val2 {
	padding:3px 14px 3px 3px;
}
/* type="button" */
.cloe_brooks_options_body .cloe_brooks_options_input_button:before {
	margin-left:8px;
	margin-right: auto;
}
/* type="checklist" */
.cloe_brooks_options_body .cloe_brooks_options_field_checklist .cloe_brooks_options_listitem + .cloe_brooks_options_listitem {
	border-right-width:0;
}
.cloe_brooks_options_body .cloe_brooks_options_field_checklist.cloe_brooks_options_vertical .cloe_brooks_options_listitem {
	text-align:right;
}
.cloe_brooks_options_body .cloe_brooks_options_field_checklist.cloe_brooks_options_vertical .cloe_brooks_options_listitem + .cloe_brooks_options_listitem {
	border-right-width:1px;
}
/* type="range" */
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_scale {
	right:21px;
	left:24px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_scale_filled {
	right:0;
	left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_min {
	right:20px;
	left: auto;
	text-align:right;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_max {
	left:20px;
	right: auto;
	text-align:left;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_slider {
	right:0;
	left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_slider_value:after,
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_slider_value:before {
	right: 50%;
	left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_slider_value:after {
	margin-right: -5px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_range .cloe_brooks_options_input_range .cloe_brooks_options_range_slider_value:before { 
	margin-right: -6px;
	margin-left: auto;
}
/* type="select|list" */
.cloe_brooks_options_body .cloe_brooks_options_field_select .cloe_brooks_options_input_menu .cloe_brooks_options_menuitem {
	text-align:right;
}
/* type="images" */
.cloe_brooks_options_body .cloe_brooks_options_field_images .cloe_brooks_options_caption_image:before {
	right:50%;
	left: auto;
	margin-right:-6px;
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images .cloe_brooks_options_menuitem {
	margin:0 0 1px 1px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_small .cloe_brooks_options_caption_image span {
	margin:6px 6px 6px 12px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_small .cloe_brooks_options_caption_image:before {
	text-align:left;
	left:3px;
	right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_medium .cloe_brooks_options_caption_image span {
	margin:8px 8px 8px 16px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_medium .cloe_brooks_options_caption_image:before {
	text-align:left;
	left:2px;
	right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_large .cloe_brooks_options_caption_image span {
	margin:10px 10px 10px 18px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_images.cloe_brooks_options_size_large .cloe_brooks_options_caption_image:before {
	text-align:left;
	left:3px;
	right: auto;
}
/* type="icons" */
.cloe_brooks_options_body .cloe_brooks_options_field_icons .cloe_brooks_options_caption_icon:before {
	text-align:left;
	left:2px;
	right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_icons .cloe_brooks_options_caption_icon span {
	margin:6px 6px 6px 12px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_icons .cloe_brooks_options_menuitem {
	margin:0 0 1px 1px;
}
/* type="socials" */
.cloe_brooks_options_body .cloe_brooks_options_field_socials.cloe_brooks_options_field_images .cloe_brooks_options_field_content {
	padding-left:40px;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_socials.cloe_brooks_options_field_images .cloe_brooks_options_field_content.cloe_brooks_options_cloneable_area {
	padding-left:0px;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_socials.cloe_brooks_options_field_images .cloe_brooks_options_field_content.cloe_brooks_options_cloneable_area .cloe_brooks_options_cloneable_item {
	padding-left:40px;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_socials.cloe_brooks_options_field_images .cloe_brooks_options_caption_image {
	left:0;
	right: auto;
}
/* type="color" */
.cloe_brooks_options_body .cloe_brooks_options_field_color .cloe_brooks_options_input_color_wp {
	margin:0 0 0 4px;
}
.cloe_brooks_options_body .cloe_brooks_options_field_color .iColorPicker {
	left:5px;
	right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_color .iColorPicker_moreColors {
	margin-right:2px;
	margin-left: auto;
}
/* fields inherit */
.cloe_brooks_options_body .cloe_brooks_options_field_label.cloe_brooks_options_field_label_inherit {
	padding-left:30px;
	padding-right: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_field_content .cloe_brooks_options_content_inherit div {
	right:50%;
	left: auto;
	margin:-10px -30px 0 0;
}
.cloe_brooks_options_body .cloe_brooks_options_field_label .cloe_brooks_options_button_inherit {
	left:0;
	right: auto;
}
/* Columns */
.cloe_brooks_options_body .cloe_brooks_options_columns { 
	float:right; 
	margin-right: 2%;
	margin-left: auto; 
}
.cloe_brooks_options_body .cloe_brooks_options_columns.first { 
	margin-right: 0%; 
	margin-left: auto;
}
.cloe_brooks_options_body .cloe_brooks_options_columns > label { 
	text-align: right; 
} 
@media (max-width: 799px) {
		.cloe_brooks_options_body .cloe_brooks_options_columns { 
		margin-right: 0;
		margin-left: auto; 
	}
}
@media (max-width: 1439px) {
	.cloe_brooks_options_body .cloe_brooks_options_partition > ul > li {
		float:right;
		margin-left:1px;
		margin-right: auto;
	}
	.cloe_brooks_options_body .cloe_brooks_options_partition > ul > li > a {
		padding-left:6px;
		padding-right: auto;
	}
	.cloe_brooks_options_body .cloe_brooks_options_field > label {
		text-align:right;
	}
	.cloe_brooks_options_body .cloe_brooks_options_field .cloe_brooks_options_desc {
		margin-right: 0;
		margin-left: auto;
	}
}

/* core.options-datepicker.css */
.ui-datepicker .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker .ui-datepicker-prev-hover {
	right: 1px;
	left: auto;
}
.ui-datepicker .ui-datepicker-next-hover {
	left: 1px;
	right: auto;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	right: 50%;
	margin-right:-4px;
	margin-left: auto;
 	text-align:right;
}
.ui-datepicker td span,
.ui-datepicker td a {
	text-align: left;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}
/* with multiple calendars */
.ui-datepicker-multi .ui-datepicker-group {
	float: right;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: auto;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: right;
}

/* core.css */
/* qrcode-admin.css */
.widget_qrcode ul.tabs li {
	float: right;
	padding-right:10px;
	padding-left: auto;
	margin-right:10px;
	margin-left: auto;
	border-right:#999 1px dotted;
}
.widget_qrcode ul.tabs li.first {
	padding-right:0;
	padding-left: auto;
	margin-right:0;
	margin-left: auto;
	border-right:none;
}


/* po_composter.css */
.po_composer {
	margin:0 0 0 20px;
}
.po_composer_links {
	margin-right:20px;
	margin-left: auto;
}
.po_composer_download_link {
	margin-left:20px;
	margin-right: auto;
}
.po_composer_block {
	float:right;
}
.po_composer_block + .po_composer_block {
	float:left;
}
.po_composer_label {
	text-align:right;
}
.po_composer_editor .left_side {
	float:right;
}
.po_composer_editor .right_side {
	float:left;
}
.po_composer_editor ul li {
	margin:0 1px 0 0;
}
#po_composer_editor_list #po_list .list_msgid {
	margin-left:2%;
	margin-right: auto;
}

/* emailer.css */
.trx_emailer {
	margin:0 0 0 20px;
}
.trx_emailer_block {
	float:right;
}
.trx_emailer_block + .trx_emailer_block {
	float:left;
}
.trx_emailer_field #emailer_group {
	margin-left:10px;
	margin-right: auto;
}
.trx_emailer_field label.inline {
	margin-left:10px;
	margin-right: auto;
}


.iconadmin-phone:before{
	transform: rotate(90deg);
}